[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
#[include mmu/optional/mmu_menu.cfg]
[include mainsail.cfg]
### For Fly Super 8 V1.3 ####
### And Mellow Kit  ####
### For Fly Super pro 8, the SPI bus is spi1A
### For Fly Super 8 V1.3, the SPI bus is spi3

#[include timelapse.cfg]
[include Exclude_Object.cfg]
[include Start_Stop.cfg]
[include Macro.cfg]
[include Speed.cfg]
[include OrbiterSensor.cfg]
[include wipe.cfg]
[include purge.cfg]
[display_status]
[exclude_object]
[virtual_sdcard]
path: ~/printer_data/gcodes
[pause_resume]
recover_velocity: 350

# Enable arcs support for Orcaslicer.
[gcode_arcs]
resolution: 0.1

##### VzBoT############
#######################

[printer]
kinematics: corexy
max_velocity: 2000
max_accel: 9000
#max_accel_to_decel: 5000
max_z_velocity: 20
max_z_accel: 1500
square_corner_velocity: 10

########################
########################


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_3B003E000551313430323835-if00
#restart_method: command

[temperature_sensor FLY-Super8]
sensor_type: temperature_mcu

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_9BAAB47B5154364134202020FF153633-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 30.884 # update with offset from nozzle on your machine

cal_floor: 0.2
#default_probe_method: contact
contact_max_hotend_temperature: 270 # increase to probe at print temps
home_xy_position: 168, 147 # update with your safe position
home_z_hop: 2
home_z_hop_speed: 30
home_xy_move_speed: 300
home_method: contact # use proximity for induction homing
home_method_when_homed: proximity # after initial calibration use induction
home_autocalibrate: always # contact will calibrate beacon on first hom
autocal_retract_dist: 2


mesh_main_direction: x
mesh_runs: 2


########################
########################

[stepper_x]
##	in M6 position
step_pin: PE0
dir_pin: !PG3
enable_pin: !PG4
rotation_distance: 40
microsteps: 16
step_pulse_duration: 0.000004
full_steps_per_rotation: 200  
endstop_pin: PG12        #make sure to set the correct pin here.
position_endstop: 0
position_min: 0
position_max: 340
homing_speed: 50 
homing_retract_dist: 0

[tmc5160 stepper_x] 
#spi_bus: spi1a
cs_pin: PG2
#diag_pin: PA8
interpolate: false
run_current: 1.41
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 0
driver_TOFF: 1
#driver_DISS2G: 1
Driver_TPFD: 0
#driver_DISS2VS: 1
#spi_speed: 4000000


[stepper_x1]
##	in M5 position
step_pin: PE1
dir_pin: !PF0
enable_pin: !PC15
rotation_distance: 40
microsteps: 16
step_pulse_duration: 0.000004
full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_x:virtual_endstop 

[tmc5160 stepper_x1] 
#spi_bus: spi1a
cs_pin: PF1
#diag_pin: PD6
interpolate: false
run_current: 1.41
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 0
driver_TOFF: 1
Driver_TPFD: 0
#driver_DISS2G: 1
#driver_DISS2VS: 1
#spi_speed: 4000000


[stepper_y]
##	in M4 position
step_pin: PE15
dir_pin: !PE11
enable_pin: !PF2
rotation_distance: 40
microsteps: 16
step_pulse_duration: 0.000004
full_steps_per_rotation: 200  
endstop_pin: !PG10 #make sure to set the correct pin here.
position_endstop: -0
position_min: 0
position_max: 330
homing_speed: 50  
homing_retract_dist: 8

[tmc5160 stepper_y] 
#spi_bus: spi1a
cs_pin: PE10
#diag_pin: PD7
interpolate: false
run_current: 1.41
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 0
driver_TOFF: 1
Driver_TPFD: 0
#driver_DISS2G: 1
#driver_DISS2VS: 1
#spi_speed: 4000000

[stepper_y1]
##	in M3 position
step_pin: PE14
dir_pin: !PE8
enable_pin: !PE9
rotation_distance: 40
microsteps: 16
step_pulse_duration: 0.000004
full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_y:virtual_endstop  

[tmc5160 stepper_y1] 
#spi_bus: spi1a
cs_pin: PE7
#diag_pin: PG9
interpolate: false
run_current: 1.41
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 0
driver_TOFF: 1
Driver_TPFD: 0
#driver_DISS2G: 1
#driver_DISS2VS: 1
#spi_speed: 4000000

[skew_correction] 

[bed_mesh]
zero_reference_position: 168, 147
speed: 240
horizontal_move_z: 2
mesh_min: 30, 31
mesh_max: 290, 264
probe_count: 15,15
mesh_pps: 0, 0
algorithm: bicubic




[resonance_tester]
accel_chip: beacon
probe_points: 90, 90, 20

#X:0 Y:30.884
#########################


[stepper_z]
## In M1 position
step_pin: PE2
dir_pin: PC5
enable_pin: !PF11
microsteps: 32
rotation_distance: 4
step_pulse_duration: 0.000004
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop            
homing_retract_dist: 0 # beacon needs this to be set to 0
#position_endstop: 0.0
position_max: 400
position_min: -2
full_steps_per_rotation: 200
#homing_retract_dist: 5.0
homing_positive_dir: false
homing_speed: 5.0
second_homing_speed: 2.5

[tmc2209 stepper_z]
interpolate: false
uart_pin: PC4
run_current: 1
stealthchop_threshold: 0

[extruder]
## In M0 position
## Orbiter 2.0 
microsteps: 16
step_pulse_duration: 0.000004
full_steps_per_rotation: 200
rotation_distance: 4.628
nozzle_diameter: 0.4                              #define nozzle diameter
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120

step_pin: PE3
dir_pin: PF13
enable_pin: !PF14


heater_pin: PB0
sensor_type: PT1000
sensor_pin: PF4

#control: pid
#pid_Kp=21.422
#pid_Ki=1.488
#pid_Kd=77.120

min_temp: 0
max_temp: 400
max_extrude_cross_section: 500
max_extrude_only_accel: 10000
min_extrude_temp: 0
pressure_advance: 0.035
pressure_advance_smooth_time: 0.03

[tmc2209 extruder]
uart_pin: PF12
interpolate: true
run_current: 0.6 #**
sense_resistor: 0.11 #**
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

########################
########################

[heater_bed]
heater_pin: PE5
sensor_type: Generic 3950
sensor_pin: PC1
#control: pid
#pid_Kp=43.710
#pid_Ki=1.646
#pid_Kd=290.12
min_temp: 0
max_temp: 130

[input_shaper]
#shaper_freq_x: 146.8
#shaper_type_x: 2hump_ei
#shaper_freq_y: 86.6
#shaper_type_y: ei


########################
#### FANS ##############
########################

[fan]
##	Print Cooling Fan - PF8
pin: PF8
max_power: 1
cycle_time: 0.002
hardware_pwm: false
shutdown_speed: 0

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
## in case of a watercooler that is 24V use a Heater Pin like PF7 Heat3 for a larger mosfet that can handle more amps.
pin: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[fan_generic Exhaust_fan]
##  exhaust fan - In FAN4
pin: PA15
max_power: 1
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10

#[fan_generic chamber_fan]
###  chamber fan - In FAN9 Positon
#pin: PD15
#max_power: 1
#shutdown_speed: 0
#kick_start_time: 0.1
#off_below: 0.10

#[fan_generic RSCS]
##  RSCS Fans - In FAN1 Positon
#pin: PA1
#max_power: 1
#shutdown_speed: 0
#kick_start_time: 0.1
#off_below: 0.10

#[controller_fan driver_fan] 
# This is if you connect your driver fan to Super8 
#or if you want to add fan to the Super8. Other wise connect them in the driver fan ports
#stepper: stepper_x
#pin: PD14
#max_power: 1
#shutdown_speed: 0
#kick_start_time: 0.1
#off_below: 0.10

########################
########################

#[temperature_sensor chamber]  optional for chamber temp
#sensor_type: NTC 100K MGB18-104F39050L32
#pullup_resistor: 4700
#sensor_pin: PF5
#min_temp: 0
#max_temp: 60
#gcode_id: C: C

#[temperature_sensor Bed_Edge]
#Sensor_type: Generic 3950
#sensor_pin:PF4

###########################################
#########Custom PINs Definition ############
###########################################

#[output_pin LED]
#In FAN8 position if 12 or 5V
#When 24V use a heater pin like Heat4 PF6
#pin: PF6
#pwm: false
#value: 1
#shutdown_value:1
### gcode command: SET_PIN PIN=LED value=0 to 1

[idle_timeout]
timeout: 1800
gcode =
  {% if printer.pause_resume.is_paused %}
    M104 S0
  {% else %}
    TURN_OFF_HEATERS
    #M84
  {% endif %}

################################################################################################
##                                        Probe                                               ##
################################################################################################

[screws_tilt_adjust]
screw2: 20, 4
screw2_name: front left screw
screw3: 20, 249
screw3_name: rear left screw
screw4: 310, 249
screw4_name: rear right screw
screw1: 310, 4
screw1_name: front right screw

screw_thread: CW-M3

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 4.866964455078185,
#*# 	-0.5880676227590218,
#*# 	8.559523741095706,
#*# 	-1.93603810852926,
#*# 	-64.9225625891049,
#*# 	62.40906600440974,
#*# 	102.28617153113495,
#*# 	-115.21596609254665,
#*# 	-48.321085273275365,
#*# 	57.87963194876224
#*# model_domain = 1.8589648251164685e-07,1.939260696285165e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 40.220538
#*# model_offset = 0.00000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-3.283053, -3.217034, -3.024166, -2.828648, -2.793832, -2.934034, -3.062555, -3.137960, -3.220862, -3.052510
#*# 	-2.906476, -3.226093, -3.016745, -2.804635, -2.786692, -2.892719, -3.000142, -3.124535, -3.224424, -3.185837
#*# 	-3.119672, -3.228837, -3.017626, -2.792834, -2.763535, -2.875398, -3.017389, -3.147571, -3.240005, -3.122444
#*# 	-3.095005, -3.279134, -3.118856, -2.947248, -2.848806, -2.908503, -3.044943, -3.154396, -3.251240, -3.183477
#*# 	-3.116253, -3.272978, -3.112663, -2.929499, -2.883261, -2.980057, -3.085625, -3.150007, -3.247798, -3.125039
#*# 	-3.094027, -3.275586, -3.124224, -2.938218, -2.913988, -2.981548, -3.077973, -3.134121, -3.238351, -3.133706
#*# 	-2.951276, -3.241883, -3.030152, -2.807722, -2.722065, -2.852042, -3.061555, -3.141582, -3.230597, -3.148699
#*# 	-3.082720, -3.228088, -3.011132, -2.748496, -2.613839, -2.728616, -2.936500, -3.052392, -3.190917, -3.155889
#*# 	-3.039238, -3.173837, -2.887318, -2.565579, -2.450038, -2.572841, -2.753864, -2.909054, -3.126370, -3.030966
#*# 	-3.273467, -3.115128, -2.767359, -2.338750, -2.298250, -2.438494, -2.642106, -2.790371, -3.035895, -2.855192
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = direct
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 290.0
#*# min_y = 31.0
#*# max_y = 264.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.451
#*# pid_ki = 2.333
#*# pid_kd = 58.922
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 37.614
#*# pid_ki = 1.105
#*# pid_kd = 320.189
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 74.8
#*# shaper_type_y = 3hump_ei
#*# shaper_freq_y = 78.8
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = 0.0037032141846765486
#*# xz_skew = 0.0
#*# yz_skew = 0.0
